.paragraph-left {
    top: 175px;
    animation-name: swingFromLeft;
    animation-delay: 200ms;
}

.paragraph-right {
    top: 40vh;
    animation-name: swingFromRight;
    animation-delay: 1s;
}

p {
    position: absolute;
    margin: 20px;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    text-align: center;
    line-height: 2em;
    text-align: center;
}

.solidSection {
    margin: 20px;
    height: 75vh;
    opacity: 80%;
}

#paragraphWrapper {
    position: relative;
}

@keyframes swingFromLeft {
    from { right: 100vw }
    to { right: 0px }
}

@keyframes swingFromRight {
    from { left: 100vw }
    to { left: 0px }
}