<div class="mainTitle"><h1>About Me</h1></div>
<p class="paragraph-left">
    My name is Grayson. I live in Prince George, BC, where I'm a full-time student Prince George Secondary School.
    I have always been intrigued by computers and how they work, so I began teaching myself the fundamentals of computer programming, and how to write software and create websites.
    I can not only write good code, but I also enjoy it and I'm always finding ways on how I can improve and widen my set of skills. I specialize in C#, the .NET framework, and back-end web development.
    I'm also quite familiar with Java, JavaScript, HTML, CSS, and SQL. I have used Unity for about a year now for game development and genetic simulations.
</p>
<p class="paragraph-right">
    I am a hard worker, and I can focus on a task without being distracted. I am constantly setting goals for myself and I'm not comfortable with settling for mediocrity.
    I am very punctual, I can respect deadlines, and I like to get stuff done rather than leave it for later. I am very detail-oriented and will notice when something needs improvement or work.
    I tend to be analytical when approaching a problem and will observe it from different points of views to find a solution.
    These skills have helped me achieve very high marks and concentrate on my studies at school.
    I excel in mathematics and I can mentally do math to solve equations.
    Although I am an introvert, I can work well with others and discuss solutions that will and won't work.
    When working on group work, I can pull my load and assist others when they need it, or ask for help myself if I'm feeling stuck or if I'm confused or don't fully understand a subject.
</p>