#mediaOpenBtn {
    float: left;
    border-radius: 0px 20px 20px 0px;
    width: 50px;
    height: 150px;
    transition: 400ms;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

:host {
    width: 400px;
}

#gitOpenBtn:hover #dropDownIcon{
    opacity: 0;
}

#mediaOpenBtn:hover #mediaLogo{
    width: 3em;
    height: 3em;
}

#mediaOpenBtn:hover #mediaText{
    opacity: 100;
    transition-delay: 500ms;
}

#mediaOpenBtn:hover {
    width: 200px;
    height: 200px;
}

#dropDownIcon {
    transition-duration: 500ms;
    margin: 5px;
    font-size: 2rem;
    color: #1A1A2E;
    z-index: 0;
}

#mediaLogo {
    height: 2em;
    width: 2em;
    margin: auto;
    display: block;
    transition: 500ms;
}

#mediaText {
    opacity: 0;
    color: black;
    transition-duration: 200ms;
    transition-delay: 0s;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
}