<nav class="navbar">
  <div class="left-nav nav-section">
    <ul>
      <li class="nav-item" [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" [routerLink]="['about']" routerLinkActive="active-nav-item">
        <a class="nav-link">About Me</a>
      </li>
    </ul>
  </div>
    <span class="navbar-brand">Grayson Reimer Development</span>
  <div class="right-nav nav-section">
    <ul>
      <li class="nav-item" [routerLink]="['resume']" routerLinkActive="active-nav-item">
        <a class="nav-link">Resume</a>
      </li>
      <li class="nav-item" [routerLink]="['contact']" routerLinkActive="active-nav-item">
        <a class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>