<div class="mainTitle" id="titlePt1">
    <h1>Hello, I'm Grayson</h1>
</div>
<github-button></github-button>
<div class="mainTitle" id="titlePt2">
    <h1>and I code software.</h1>
</div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLJWirWwXJaxLjXJEWpn4Du2E0AOzAaJCaw&usqp=CAU" id="pflImage" />
<div id="sectionWrapper">
    <github-showcase></github-showcase>
    <div class="section" id="skillsSection">
        <h3>Skills</h3>
        <ul id="skillList">
            <li>C#</li>
            <li>ASP.NET</li>
            <li>C++</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>SQL</li>
        </ul>
    </div>
</div>