<div class="mainTitle" id="titlePt1">
    <h1>Hello, I'm Grayson</h1>
</div>
<ul id="mediaList">
    <li>
        <media-button
        [colour]="'#59ecff'" [text]="'Click to see my projects!'" [img]="'GitHubLogo.png'" [link]="'https://github.com/GraysonReimer'"
        ></media-button>
    </li>
    <li>
        <media-button
        [colour]="'#bfff00'" [text]="'Click to view my Indeed page!'" [img]="'IndeedLogo.png'" [link]="'https://my.indeed.com/p/graysonr-l0e0r3q'"
        ></media-button>
    </li>
</ul>
<div class="mainTitle" id="titlePt2">
    <h1>and I code software.</h1>
</div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLJWirWwXJaxLjXJEWpn4Du2E0AOzAaJCaw&usqp=CAU" id="pflImage" />
<div id="sectionWrapper">
    <github-showcase></github-showcase>
    <div class="section" id="skillsSection">
        <h3>Skills</h3>
        <ul id="skillList">
            <li>C#</li>
            <li>ASP.NET</li>
            <li>C++</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>SQL</li>
        </ul>
    </div>
    <div class="section" id="goalSection">
        <h3>My Goal</h3>
        <br />
        <p>
            I have been teaching myself coding for about 2 and a half years now. I have been consistently creating personal projects and finding new ways to improve my abilities. 
            My goal has been and still is to get an internship or part-time job in the software or web-development industry as this is what I have been doing for years and it’s what I want to do for a living. 
            I’m currently unemployed and I’m looking for ways to break into the industry and build up my career.
        </p>
        <p>
            In terms of pay, I don’t have a range. I’m simply trying to gain experience and make a living doing what I love. 
            I’m currently unable to relocate from Prince George, BC, so any jobs would have to be located here, or be remotely operable. 
            I’m the most proficient in web-development. I’ve learned Angular 4 and ASP.Net, and I’ve gotten quite familiar with both front-end and back-end development. 
            I have knowledge of SQL and databases, Javascript, TypeScript, as well as basic knowledge in Bootstrap, CSS.
        </p>
        <p>
            I’m currently still a high school student so I may not be able to work full-time,
             but I have plenty of free time after school, on weekends, and on breaks, to program and work.
             I will work efficiently and I am really good with deadlines and work-loads.
        </p>
        <p>
            If you are looking for a developer who can offer a lot to your company and be dedicated to good and clean results,
             then don’t hesitate to call me, email me, or message me. I will be accepting any job offers that fit into my schedule and I will be actively responding
             You can always reach me at <i>+1 250 301 7859</i> or at <i>GraysonReimerDev@gmail.com.</i> 
        </p>
    </div>
</div>